<html>
    <head>
        <title>Edit Blog</title>
        <%- include('./partials/styles.ejs') %>
    </head>
    <body>
        <%- include('./partials/dashboard.ejs') %>
        <div class="user-blog">
            <h1>Edit Blog</h1>
            <form action="/updateblog?blogId=<%= blogData._id %>" method="POST">
                <input type="text" value="<%= blogData.title %>" name="title" placeholder="Title" required>
                <textarea name="body" placeholder="Content" required><%= blogData.body %></textarea>
                <button type="submit">Update Blog</button>
                <% if (message) { %>
                 <p class="message success"><%= message %></p>
                 <% } %>
     
                 <% if (error) { %>
                 <p class="message error"><%= error %></p>
                 <% } %>
            </form>
        </div>
    </body>
</html>